@import "./_base";

.our_awards_container {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 99vw;
    align-items: center;
    margin-top: 5vh;
}

.awards_header {
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.awards_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-top: 1px solid $borderColor;
    margin: 20px 0;
    padding: 20px 0;
}

.awards_item_last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    border-top: 1px solid $borderColor;
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px solid $borderColor;
}

.item_start {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.award_item_img {
    width: 120px;
    height: 80px;
    border-radius: 6px;
}

.item_name {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.item_date {
    width: 10%;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $textDarkGray;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.item_logo {
    width: 48px;
    height: 48px;
}

.question {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $textDarkGray;
    margin-right:10px ;
}

.explore {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: $textDark;
}

