$darkBackground: #28293E;
$white: #ffffff;
$button-border: rgba(255, 255, 255, 0.295743);
$button-hover: #B550F8;
$TextLightAccent: #EF6D58;
$TextLightGray: rgba(255, 255, 255, 0.64);
$yellow: #F7CC47;
