.footer-row {
    display: flex;
    padding: 40px 0;
    border-bottom: 1px solid #F3D1BF;

    @media (max-width:992px) {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
    }
    .padding-fifty{
        padding-bottom:50px ;
    }
    .footer-item {
        h4 {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            color: $maincolor;
        }

        h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $TextLightAccent;
            margin-bottom: 16px;
        }

        ul {
            list-style-type: none;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
                color: $maincolor
            }
        }
    }

    .footer-icon {
        display: flex;
        justify-content: end;

        .footer-icon-item {
            width: 48px;
            height: 48px;
            background-color: $TextLightAccent;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-left: 8px;
        }
    }
}

.footer-copyrighter {
    display: flex;
    justify-content: space-between;
    padding: 43px 0;
    @media (max-width:992px) {
        display: block;
    }
    .copyrighter-desc{
        p{
            font-size: 16px;
            line-height: 32px;
            color: $desccolor;
            @media (max-width:992px) {
                text-align: center;
            }
        }
    }
    .copyrighter-link {
        display: flex;
        justify-content: end;
        @media (max-width:992px) {
            justify-content: space-between;
        }

        a {
            font-size: 16px;
            line-height: 32px;
            color: $maincolor;
            text-decoration: none;
            margin-left: 68px;
            @media (max-width:992px) {
                margin-left: 8px;
            }
        }
    }
}