@import "./_base";


.frequently_asked_questions_container {
    width: 99vw;
    height: 99vh;
    display: flex;
}

.frequently_asked_questions_container_left {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    align-items: flex-start;
    justify-content: space-evenly;
}

.frequently_asked_questions_container_right {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 10vw;
    padding-top: 10vh;
    align-items: flex-start;
    justify-content: space-evenly;
}

.header_faq {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    color: $TextLightAccent;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.header_large_faq {
    width: 371px;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 48px;
    font-weight: 800px;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.faq_info_text {
    width: 470px;
    height: 67px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: $textDarkGray;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.faq_contact_us {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.faq_right_container_open {
    padding: 30px;
}

.faq_right_container_close {
    padding: 20px 0;
}

.faq_right_container_open {
    width: 100%;
    background-color: $white;
    border: 1px solid  $borderColor;
    border-radius: 6px;
}

.faq_right_container_close {
    width: 100%;
    border: 1px solid  $borderColor;
    border-radius: 6px;
}

.header_and_button {
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}

.faq_header {
    width: fit-content;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.orange_button_up {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $TextLightAccent;
    background-image: url(./svg/triangle.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.orange_button_down {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $TextLightAccent;
    background-image: url(./svg/triangledown.svg);
    background-position: center;
    background-repeat: no-repeat;    
}

.open_faq_answer {
    width: 90%;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: $textDarkGray;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    margin: 10% 5%;
}