@import "./_base";

.first_section_header {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 10%;
    background-color: $darkBackground;
}

.first_section_logo {
    width: 152px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first_section_logo_container {
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./svg/poligon.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.first_section_logo_label {
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 32px;
    font-size: 24px;
    color: $white;
}

.first_section_navigation {
    width: 515px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first_section_navigation_link {
    text-decoration: none;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    color: $white;
}

.first_section_header_button {
    height: 48px;
    width: 138px;
    box-sizing: border-box;
    border: 1px solid $button-border;
    border-radius: 6px;  
    background-color: transparent;  
    &:hover {
        border: 2px solid $button-hover;
    }     
}

.first_section_header_button_text {
    color: $white;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 14px;
    &:hover {
        border-bottom: 2px solid $button-hover;
    }
}

.first_section_body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $darkBackground;
}

.first_section_body_left {
    height: 100%;
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(./svg/Star.svg);
    background-repeat: no-repeat;
    background-position: 52% 9%;
    padding-left: 10%;
    margin-bottom: 5%;
}

.first_section_body_right {
    display: flex;
    flex: 1;
}

.first_section_body_h5 {
    text-transform: uppercase;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    color: $TextLightAccent;
}

.first_section_body_h1_container {
    width: 513px;
    height: 240px;   
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    color: $white;
}

.first_section_body_h1 {
    margin: 0;   
    padding: 0;
    line-height: 80px;
    font-weight: 800;    
    font-size: 72px;
    letter-spacing: -2px;  
    justify-self: stretch;  
}

.first_section_information_container {
    width: 470px;
    height: 66px;
}

.first_section_information {
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    color: $TextLightGray;
}

.first_section_info_buttons_container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}

.first_section_info_button {
    width: 154px;
    height: 48px;
    border-radius: 6px;
    background-color: $TextLightAccent;
}

.first_section_info_button_text {
    width: 108px;
    height: 14px;
    font-weight: 900;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $white;
}

.first_section_contact_link {
    text-decoration: none;
    width: 88px;
    line-height: 32px;
    font-size: 16px;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: $white;
    text-transform: capitalize;
}

.first_section_footer {
    width: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10%;
}

.first_section_footer_image {
    width: 43px;
    height: 43px;
    border-radius: 100%;
    background-color: $button-hover;
}

.first_section_footer_text-container {
    display: flex;
    flex-direction: column;
}

.first_section_footer_offer {
    width: 327px;
    line-height: 32px;
    font-size: 16px;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: $TextLightGray;
}

.first_section_footer_company_name {
    width: 72px;
    color: $white;
    line-height: 32px;
    font-size: 16px;
    font-weight: 400;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}
