@import "./_base";

.our_blog_first_row {
    width: 90wh;
    padding: 0 10vw;
}

.our_blog_header {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 3px;
    color: $TextLightAccent;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.our_blog_second_row {
    width: 100%;
    display: flex;
    padding: 0 10vw;
    justify-content: space-between;
}

.our_blog_header_2 {
    width: 20%;
    font-weight: 800;
    line-height: 64px;
    font-size: 56px;
    letter-spacing: -1px;
    color: $textDark;
    align-self: flex-end;
}

.our_blog_button {
    width: 170px;
    height: 48px;
    border-radius: 6px;
    background-color: $white;
    border: none;
    text-transform: uppercase;
    color: $textDark;
    font-size: 14px;
    font-weight: 900;
    line-height: 14.35px;
    align-self: flex-end;
    margin-right: 12vw;
}

.our_blog_third_row {
    width: 100%;
    height: 50vh;
    display: flex;
    padding: 0 10vw;
    margin: 10vh 0;
    row-gap: 20px;
}

.third_row-item {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: space-between;
}

.row_item_image {
    width: 80%;
    height: 224px;
}

.theme {
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif; 
}

.article_name {
    width: 80%;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif; 
}

.item_date {
    width: fit-content;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: $textDarkGray;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.our_blog_last_row {
    display: flex;
    width: 100%;
    height: 20vh;
    padding: 0 10vw;
    margin: 10vh 0;
    align-items: center;
    justify-content: space-between;
}

.footer_headline {
    width: fit-content;
    font-size: 40px;
    line-height: 48px;
    font-weight: 800;
    color: $textDark;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
}

.footer_subscribe {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer_input {
    width: 20vw;
    height: 48px;
    border-radius: 6px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: $textDarkGray;
    font-family: Epilogue, Arial, Helvetica, sans-serif;
    margin-right: 5%;
}

.subscribe_button {
    width: 170px;
    height: 48px;
    border-radius: 6px;
    background-color: $white;
    border: none;
    text-transform: uppercase;
    color: $textDark;
    font-size: 14px;
    font-weight: 900;
    line-height: 14.35px;
}