#pricing {
    font-family: $fontFamily;
    @include padding-t-r-b-l(100px, 0, 100px, 0);

    .pricing-item {
        display: flex;
        justify-content: center;
        align-items: end;

        .pricing-box {
            padding: 35px;
            border: 1px solid $customerbottom;

            .section-heading-whitecolor {
                .section-heading-span {
                    font-size: 16px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: $TextLightAccent;
                    line-height: $ln-height-sm;
                }

                .section-heading-h3 {
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 48px;
                    color: $maincolor;
                    padding-top: 17px;
                }
            }

            p {
                font-size: 16px;
                line-height: $ln-height-sm;
                color: $desccolor;
                padding-top: 15px;
            }

            ul {
                list-style-type: none;
                padding-bottom: 36px;

                li {
                    display: flex;
                    align-items: center;
                    padding: 16px 0;

                    img {
                        margin-right: 16px;
                    }
                }
            }
        }

        .actvie-pricing {
            background-color: $whitecolor;
            border-radius: 6px 6px 0px 0px;
            position: relative;

            .pricing-popular {
                position: relative;
                right: 8px;
                width: 92px;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: $ln-height-sm;
                margin-bottom: 20px;
                color: $whitecolor;
                border-radius: 19px;
                background-color: $TextLightAccent;
            }
        }

        .border-top-bottom-left-radius {
            border-right-width: 0;
            border-radius: 6px 0px 0px 6px;
        }

        .border-top-bottom-right-radius {
            border-left-width: 0;
            border-radius: 0px 6px 6px 0px;
        }
    }

}