.section-heading-maincolor {
    font-family: $fontFamily;

    .section-heading-span {
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $TextLightAccent;
        line-height: $ln-height-sm;
    }

    .section-heading-h2 {
        font-size: 56px;
        letter-spacing: -1px;
        font-weight: 800;
        line-height: $ln-height-lg;
        color: $maincolor;
        padding-bottom: 20px;
        padding-top: 26px;

        @media (max-width:1340px) {
            font-size: 40px;
            line-height: 48px;
        }
    }
}

.section-heading-whitecolor {
    font-family: $fontFamily;

    .section-heading-span {
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: $TextLightAccent;
        line-height: $ln-height-sm;
    }

    .section-heading-h2 {
        font-size: 56px;
        letter-spacing: -1px;
        font-weight: 800;
        line-height: $ln-height-lg;
        color: $whitecolor;
        padding-top: 26px;

    }
}

.team-founder{
    .section-heading-whitecolor {
        font-family: $fontFamily;

        .section-heading-span {
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;
            color: $TextLightAccent;
            line-height: $ln-height-sm;
        }

        .section-heading-h3 {
            font-size: 40px;
            font-weight: 800;
            line-height: 48px;
            color: $whitecolor;
            padding-top: 26px;
        }
    }
}