@import "_base";
@import "_header";
@import "_buttons";
@import "_sectionheading";
@import "_section1";
@import "_section2";
@import "_section7";
@import "_section9";
@import "_section13";
@import "_footer";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fdf0e9;
    
}