.col-lg-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-lg-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-lg-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-lg-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-lg-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-lg-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container,
.container-fluid {
  width: 80.9%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.btn {
  width: 138px;
  height: 48px;
  border-radius: 6px;
  box-shadow: 0px 3px 9px 0px rgba(57, 20, 0, 0.0784313725);
  font-family: "Epilogue";
  font-weight: 900;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
}

.btn-white {
  background-color: #FFFFFF;
  color: #391400;
}

.btn-light {
  background-color: #EF6D58;
  color: #FFFFFF;
}

.section-heading-maincolor {
  font-family: "Epilogue";
}
.section-heading-maincolor .section-heading-span {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  line-height: 32px;
}
.section-heading-maincolor .section-heading-h2 {
  font-size: 56px;
  letter-spacing: -1px;
  font-weight: 800;
  line-height: 64px;
  color: #391400;
  padding-bottom: 20px;
  padding-top: 26px;
}

.section-heading-whitecolor {
  font-family: "Epilogue";
}
.section-heading-whitecolor .section-heading-span {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  line-height: 32px;
}
.section-heading-whitecolor .section-heading-h2 {
  font-size: 56px;
  letter-spacing: -1px;
  font-weight: 800;
  line-height: 64px;
  color: #FFFFFF;
  padding-top: 26px;
}

.team-founder .section-heading-whitecolor {
  font-family: "Epilogue";
}
.team-founder .section-heading-whitecolor .section-heading-span {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  line-height: 32px;
}
.team-founder .section-heading-whitecolor .section-heading-h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 26px;
}

.customers-item {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: space-between;
  padding: 72px 0;
  border-bottom: 1px solid #F3D1BF;
}

#agancy-experience .experience-iem {
  display: flex;
  align-items: center;
  font-family: "Epilogue";
  padding: 100px 0 120px 0;
}
#agancy-experience .experience-iem .experiance-desc {
  padding: 0 0 0 120px;
}
#agancy-experience .experience-iem .experiance-desc .section-first-p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}
#agancy-experience .experience-iem .experiance-desc .section-second-p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  padding-bottom: 18px;
  padding-top: 34px;
}
#agancy-experience .experience-info {
  display: flex;
  font-family: "Epilogue";
  color: #391400;
  padding: 40px 0 40px 0;
}
#agancy-experience .experience-info .experience-item {
  padding: 45px;
  border: 1px solid #F3D1BF;
}
#agancy-experience .experience-info .experience-item h3 {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}
#agancy-experience .experience-info .experience-item p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
#agancy-experience .experience-info .border-top-bottom-left-radius {
  border-radius: 6px 0px 0px 6px;
}
#agancy-experience .experience-info .border-top-bottom-right-radius {
  border-radius: 0px 6px 6px 0px;
}

.col-lg-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-lg-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-lg-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-lg-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-lg-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-lg-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-lg-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-lg-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-lg-12 {
  flex: 0 0 auto;
  width: 100%;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.container,
.container-fluid {
  width: 80.9%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.section2 {
  font-family: "Epilogue";
  margin-top: 100px;
}
.section2 .title h5 {
  letter-spacing: 2px;
  color: #EF6D58;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 32px;
  font-family: "Epilogue";
  margin-bottom: 15px;
}
.section2 .content .description h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #391400;
  width: 448px;
  height: 96px;
  margin-bottom: 20px;
}
.section2 .content .description p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  width: 400px;
  height: 68px;
  color: rgba(57, 20, 0, 0.64);
  margin-bottom: 10px;
}
.section2 .content .description span {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #391400;
}
.section2 .content .services {
  margin-top: 20px;
  margin-left: 8px;
}
.section2 .content .services .service {
  margin-bottom: 20px;
}
.section2 .content .services .service h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -2px;
  color: #391400;
}
.section2 .content .services .service h4 {
  align-self: center;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 32px;
}
.section2 hr {
  margin-top: 70px;
  margin-bottom: 105px;
  border: 0.5px solid #F3D1BF;
  background: #F3D1BF;
}
.section2 .video-text .video img {
  height: 310px;
  width: 480px;
  border-radius: 6px;
}
.section2 .video-text .text {
  margin-left: 96px;
  margin-top: 50px;
}
.section2 .video-text .text h5 {
  color: #EF6D58;
  font-style: normal;
  font-weight: lighter;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 469px;
  margin-bottom: 15px;
}
.section2 .video-text .text h3 {
  font-weight: bolder;
  font-size: 35px;
  line-height: 40px;
  width: 400px;
  height: 99px;
  color: #391400;
  margin-bottom: 13px;
}
.section2 .video-text .text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: rgba(57, 20, 0, 0.64);
}

#teams {
  background-color: #28293E;
  padding: 80px 0;
  font-family: "Epilogue";
}
#teams .teams-heading {
  display: flex;
  align-items: end;
}
#teams .teams-heading .control-btn-top {
  display: flex;
  justify-content: right;
}
#teams .teams-heading .control-btn-top span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 0 8px;
}
#teams .team-members {
  display: flex;
  padding-top: 64px;
}
#teams .team-members .member-item {
  padding: 0 6px;
}
#teams .team-members .member-item .member-img {
  height: 272px;
  display: flex;
  justify-content: center;
  align-items: end;
  border: 1px solid #3A3C56;
  border-radius: 6px;
}
#teams .team-members .member-item .black-man img {
  width: 100%;
}
#teams .team-members .member-item .member-info {
  padding: 26px 0;
}
#teams .team-members .member-item .member-info h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
#teams .team-members .member-item .member-info p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
  padding-top: 3px;
}
#teams .team-control-btn {
  display: flex;
  justify-content: center;
}
#teams .team-control-btn ul {
  list-style-type: none;
  display: flex;
}
#teams .team-control-btn ul li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #4E4F6E;
  margin: 0 10px;
}
#teams .team-control-btn ul .active-li {
  background-color: #EF6D58;
}
#teams .team-founder {
  padding-top: 140px;
  display: flex;
  align-items: center;
}
#teams .team-founder .founder-img img {
  width: 100%;
}
#teams .team-founder .founder-note {
  padding-left: 50px;
  position: relative;
}
#teams .team-founder .founder-note .section-heading-whitecolor {
  position: relative;
  z-index: 2;
  padding-bottom: 44px;
}
#teams .team-founder .founder-note .shape {
  position: absolute;
  right: 70px;
  top: 0;
  z-index: 1;
}
#teams .team-founder .founder-note .founder-info p {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
  padding-bottom: 6px;
}
#teams .team-founder .founder-note .founder-info span {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.64);
}

#pricing {
  font-family: "Epilogue";
  padding: 100px 0 100px 0;
}
#pricing .pricing-item {
  display: flex;
  justify-content: center;
  align-items: end;
}
#pricing .pricing-item .pricing-box {
  padding: 35px;
  border: 1px solid #F3D1BF;
}
#pricing .pricing-item .pricing-box .section-heading-whitecolor .section-heading-span {
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  line-height: 32px;
}
#pricing .pricing-item .pricing-box .section-heading-whitecolor .section-heading-h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #391400;
  padding-top: 17px;
}
#pricing .pricing-item .pricing-box p {
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  padding-top: 15px;
}
#pricing .pricing-item .pricing-box ul {
  list-style-type: none;
  padding-bottom: 36px;
}
#pricing .pricing-item .pricing-box ul li {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
#pricing .pricing-item .pricing-box ul li img {
  margin-right: 16px;
}
#pricing .pricing-item .actvie-pricing {
  background-color: #FFFFFF;
  border-radius: 6px 6px 0px 0px;
  position: relative;
}
#pricing .pricing-item .actvie-pricing .pricing-popular {
  position: relative;
  right: 8px;
  width: 92px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 20px;
  color: #FFFFFF;
  border-radius: 19px;
  background-color: #EF6D58;
}
#pricing .pricing-item .border-top-bottom-left-radius {
  border-right-width: 0;
  border-radius: 6px 0px 0px 6px;
}
#pricing .pricing-item .border-top-bottom-right-radius {
  border-left-width: 0;
  border-radius: 0px 6px 6px 0px;
}

#contact-form {
  height: 720px;
  padding: 128px 0;
  background-image: url(../svg/map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Epilogue";
}
#contact-form .contact-map {
  display: flex;
  position: relative;
}
#contact-form .contact-map .from-contact {
  padding: 48px;
  background-color: #FFFFFF;
  border-radius: 6px;
}
#contact-form .contact-map .from-contact h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
#contact-form .contact-map .from-contact input,
#contact-form .contact-map .from-contact select,
#contact-form .contact-map .from-contact textarea {
  width: 100%;
  height: 48px;
  font-size: 16px;
  line-height: 32px;
  color: rgba(57, 20, 0, 0.64);
  outline: 0;
  border: 1px solid #F3D1BF;
  border-radius: 6px;
  padding: 9px 16px;
  margin: 8px 0;
}
#contact-form .contact-map .from-contact textarea {
  height: 96px;
  resize: none;
  font-family: "Epilogue";
}
#contact-form .contact-map .from-contact .contact-btn {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}
#contact-form .contact-map .location-pin {
  position: absolute;
  bottom: 160px;
  right: 200px;
}

#contact-info {
  padding: 80px 0;
}
#contact-info .contact-info-item {
  display: flex;
  justify-content: center;
}
#contact-info .contact-info-item .contact-item {
  padding: 34px;
  border: 1px solid #F3D1BF;
}
#contact-info .contact-info-item .contact-item .contact-icon-head {
  display: flex;
}
#contact-info .contact-info-item .contact-item .contact-icon-head .contact-icon {
  width: 64px;
  height: 64px;
  background-color: #EF6D58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 24px 26px 0;
}
#contact-info .contact-info-item .contact-item .contact-icon-head h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
}
#contact-info .contact-info-item .contact-item p {
  font-size: 20px;
  line-height: 32px;
  color: #391400;
}

#digital-agency {
  background-color: #EF6D58;
  padding: 80px 0;
  border-radius: 6px;
}
#digital-agency .digital-agency-item {
  display: flex;
  align-items: end;
}
#digital-agency .digital-agency-item .section-heading-whitecolor {
  padding-right: 15%;
}
#digital-agency .digital-agency-item .section-heading-whitecolor p {
  padding: 28px 0 34px 0;
  font-size: 16px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.64);
}
#digital-agency .digital-agency-item .dg-agency-img {
  display: flex;
  justify-content: end;
}

.footer-row {
  display: flex;
  padding: 90px 0;
  border-bottom: 1px solid #F3D1BF;
}
.footer-row .footer-item h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #391400;
}
.footer-row .footer-item h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #EF6D58;
  margin-bottom: 16px;
}
.footer-row .footer-item ul {
  list-style-type: none;
}
.footer-row .footer-item ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #391400;
}
.footer-row .footer-icon {
  display: flex;
  justify-content: end;
}
.footer-row .footer-icon .footer-icon-item {
  width: 48px;
  height: 48px;
  background-color: #EF6D58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 8px;
}

.footer-copyrighter {
  display: flex;
  justify-content: space-between;
  padding: 43px 0;
}
.footer-copyrighter .copyrighter-link {
  text-align: end;
}
.footer-copyrighter .copyrighter-link p,
.footer-copyrighter .copyrighter-link a {
  font-size: 16px;
  line-height: 32px;
}
.footer-copyrighter .copyrighter-link p {
  color: rgba(57, 20, 0, 0.64);
}
.footer-copyrighter .copyrighter-link a {
  color: #391400;
  text-decoration: none;
  margin-left: 68px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #fdf0e9;
  font-family: "Epilogue";
}/*# sourceMappingURL=main.css.map */