@import "./_base";
@import "./_header";
@import "./_section1";
@import "./_footer";
@import "_base";
@import "_header";
@import "_section1";
@import "_section2";
@import "_footer";
@import "_ourclients";
@import "_frequently";
@import "_awards";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #fdf0e9;    
}
